[Unit]
Description=Scrub ZFS pool %I
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStartPre=-/usr/sbin/zpool scrub -s %I || true
ExecStart=/usr/sbin/zpool scrub -w %I
